:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Base Colors */
  --primary: #007bff;
  --primary-foreground: rgba(255, 255, 255, 0.87);
  --primary-hover: #0056b3;
  --primary-active: #004085;

  --destructive: #dc3545;
  --destructive-foreground: rgba(255, 255, 255, 0.87);
  --destructive-hover: #c82333;
  --destructive-active: #bd2130;

  --accent: #f8f9fa;
  --accent-foreground: rgba(255, 255, 255, 0.87);

  --ring-color: #007bff;
  --ring-offset-color: #242424;

  --input-border: #ccc;
  --background: #242424;
  --background-active: #e9ecef;
  --background-opacity: rgba(36, 36, 36, 0.60); /* 60% opacity of current background color */

  --secondary: #6c757d;
  --secondary-foreground: rgba(255, 255, 255, 0.87);
  --secondary-hover: #5a6268;
  --secondary-active: #43464b;

  --ghost-active: #e2e6ea;

  /* Spacing */
  --spacing-xxxs: 0.125rem;
  --spacing-xxs: 0.25rem;
  --spacing-xs: 0.5rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;
  --spacing-xxl: 3rem;

  /* Font Sizes */
  --font-size-xxs: 0.625rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;

  /* Font Weights */
  --font-weight-thin: 100;
  --font-weight-extra-light: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
  --font-weight-black: 900;

  /* Border Radius */
  --border-radius-xxs: 0.125rem;
  --border-radius-xs: 0.25rem;
  --border-radius-sm: 0.375rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 0.625rem;
  --border-radius-xl: 0.75rem;
  --border-radius-xxl: 1rem;


  font-weight: var(--font-weight-normal, 400);
  font-size: var(--font-size-md, 1rem);
  color: var(--accent-foreground);
  background-color: var(--background);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
}

#root {
  width: 100%;
}
